body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; */
    font-size: 14px;
}
* {
    box-sizing: border-box;
}

button {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 5px;
    word-break: keep-all;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
