.sidebar {
    width: 400px;
    background: #f5f5f5;
    padding: 20px 20px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.selected {
    word-wrap: break-word;
    height: 50px;
}

.removedList {
    margin-top: 20px;
}

.removedListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.removedListScroll {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ideSelector {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.removedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    word-break: break-all;
}
