.sidebar {
    width: 400px;
    background: #f5f5f5;
    padding: 20px 20px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.selected {
    word-wrap: break-word;
    min-height: 80px;
}
.selected h3 {
    font-size: 20px;
}

.apiCall {
    color: #333;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid silver;
    padding: 5px;
}
.focusNode {
    margin-top: 20px;
}
.removedList {
    margin-top: 20px;
}

.removedListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.removedListScroll {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid silver;
    border-radius: 4px;
    padding:  0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ideSelector {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.removedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    word-break: break-all;
}

.removedItem:nth-child(even) {
    background-color: #00000011;
}

.githubLink {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
