.svg {
    cursor: default !important;
}
.mainNode path {
    stroke: darkblue !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
    filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.5));
}
.selected path,
.selected polygon,
.selected ellipse {
    stroke: blue !important;
    stroke-opacity: 1 !important;
    stroke-width: 3px !important;
    filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.5));
}

.selectedEdge path,
.selectedEdge polygon {
    stroke: blue !important;
    stroke-width: 3px !important;
}

.selectedEdge[id*='_success'] path,
.selectedEdge[id*='_success'] polygon {
    stroke: green !important;
}
.selectedEdge[id*='_error'] path,
.selectedEdge[id*='_error'] polygon {
    stroke: red !important;
}

.ctxMenuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex: 1;
}
.ctxMenuItemHotkey {
    font-size: 10px;
    opacity: 0.5;
}
